---
layout: default
title: Teaching
navbar_title: Teaching
permalink: /teaching
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign items = site.data.teaching.items | sort: "date" | reverse %}
{% assign items_by_year = items | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
  <div class="col-12 col-lg-10">
    {% for year in items_by_year %}
      <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>

      <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
        <div class="px-3 py-2">
          {% for item in year.items %}
            <div class="py-2 {% unless forloop.first %}border-top border-gray{% endunless %}">
              <div class="d-flex">
                <div>
                  <strong>{{ item.course }}</strong>
                  {% if item.school %} — {{ item.school }}{% endif %}
                  {% if item.role %}<span class="text-muted"> ({{ item.role }})</span>{% endif %}
                  {% if item.note %}<div class="text-muted">{{ item.note }}</div>{% endif %}
                  {% if item.links %}
                    <div>
                      {% for l in item.links %}
                        <a target="_blank" href="{{ l.url }}">[{{ l.name }}]</a>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>

                {% if item.term %}
                  <div class="ml-auto mt-auto no-break text-muted"><i>{{ item.term }}</i></div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="col-2 d-none d-lg-block">
    <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
      {% for year in items_by_year %}
        <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>