<nav class="site-nav clearfix border-bottom border-light-gray">
  <a href="{{ site.baseurl | default: '/' }}" class="button py1 button-transparent nav-button caps valign-middle site-nav-brand">
    <span class="nav-button valign-middle">{{ site.name }}</span>
  </a>
  <ul class="site-nav-list list-reset m0 nav-collapse">
    {% for nav_item in site.nav.main %}
      {% unless nav_item[0] == "UHM WINGS Lab" %}
      <li class="inline-block m0">
        <a href="{{ nav_item[1] }}" class="button button-transparent py2 h6 nav-button caps{% if page.nav_item == nav_item[0] %} link-color{% endif %}">{{ nav_item[0] }}</a>
      </li>
      {% endunless %}
    {% endfor %}
    {% for nav_item in site.nav.main %}
      {% if nav_item[0] == "UHM WINGS Lab" %}
      <li class="inline-block m0 site-nav-lab site-nav-dropdown">
        <a href="{{ nav_item[1] }}" class="button py1 button-transparent nav-button caps valign-middle site-nav-dropdown-toggle{% if page.nav_item == nav_item[0] %} link-color{% endif %}" aria-haspopup="true" aria-expanded="false">{{ nav_item[0] }}</a>
        <ul class="site-nav-submenu list-reset m0" aria-label="UHM WINGS Lab navigation">
          <li><a href="/pages/team" class="site-nav-submenu-link{% if page.url == '/pages/team/' %} is-active{% endif %}">Team</a></li>
          <li><a href="/pages/team/lab-activities" class="site-nav-submenu-link{% if page.url == '/pages/team/lab-activities/' %} is-active{% endif %}">Lab Activities</a></li>
        </ul>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
